{% extends "template_page.html" %}
{% block content %}
<div class="ui vertical inverted sidebar menu">
     <a class="item" href= "/about/">About</a>
     <a class="item" href="/homepage/">Status</a>
      <a class="item" href="/books/">Books</a>
      <a class="item" href="/regis/">Subscribe</a>
      {% if user.is_authenticated %}
      <a class="active item" href="/logout/">Logout</a>
      {% else %}
      <a class="active item" href="/login/">Login</a>
      {% endif %}
</div>
  
<div name="main" class="pusher">
<div class="ui">
    <div class="ui large secondary blue inverted pointing menu">
       <a class="item">
          <h1>Rizkhi PH</h1>
       </a>
       <a class="toc item">
       <i class="visible sidebar icon"></i>
       </a>
       <div class="right item">
          <a class="item" href="/homepage/">Status</a>
          <a class="item" href="/about/">About</a>
          <a class="item" href="/books/">Books</a>
          <a class="item" href="/regis/">Subscribe</a>
          {% if user.is_authenticated %}
          <a class="active item" href="/logout/">Logout</a>
          {% else %}
          <a class="active item" href="/login/">Login</a>
          {% endif %}
       </div>
</div>
 </div>
 <div class="ui inverted vertical masthead center aligned segment">
 <div class="ui inverted" style="margin-bottom:300px;">
{% if user.is_authenticated %}
    <h1><strong>You already sign in</strong></h1>
    <a href="../logout/">Log out</a>
{% else %}
  <h2>Login</h2>
  <a href="{% url 'social:begin' 'google-oauth2' %}"><h1>Login with Google</h1></a><br>
  {% endif %}
  </div>
  </div>
{% endblock %}