<div class="ui blue inverted vertical footer segment" style="padding-top:20px;padding-bottom:20px;margin-bottom:-20px;">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="two wide column">
          <h4 class="ui inverted header">Contact:</h4>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header">Whatsapp:</h4>
          <div class="ui inverted link list">
            <div href="#" class="item">08129047474</div>
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header">Line:</h4>
          <div class="ui inverted link list">
          <div href="#" class="item">rizkhiph</div>
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header">Email:<h4>
          <div class="ui inverted link list">
          <div href="#" class="item">rizkhiphastiputra@gmail.com</div>
          </div>
        </div>  
      </div>
    </div>
  </div>