<!DOCTYPE html>
{% load staticfiles %}
<head>
   <!-- Standard Meta -->
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
   <!-- Site Properties -->
   <title>{% block title %} Homepage {% endblock %}</title>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/reset.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/site.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/container.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/accordion.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/grid.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/header.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/image.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/form.min.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/form.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/menu.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/divider.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/dropdown.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/segment.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/button.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/list.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/icon.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/sidebar.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/label.css' %}>
   <link rel="stylesheet" type="text/css" href={% static 'dist/components/transition.css' %}>
   {% block link %}{% endblock %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="{% static 'dist/components/accordion.min.js' %}"></script>
   <script src="{% static 'jquery-ui.js' %}"></script>
   <script src="{% static 'dist/components/visibility.js' %}"></script>
   <script src="{% static 'dist/components/sidebar.js' %}"></script>
   <script src="{% static 'dist/components/transition.js' %}"></script>
   <script language='javascript' src="{% static 'js.js' %}"></script>
   <script>
      $(document)
        .ready(function() {
      
          // fix menu when passed
          $('.masthead')
            .visibility({
              once: false,
              onBottomPassed: function() {
                $('.fixed.menu').transition('fade in');
              },
              onBottomPassedReverse: function() {
                $('.fixed.menu').transition('fade out');
              }
            })
          ;
      
          // create sidebar and attach to menu open
          $('.ui.sidebar')
            .sidebar('attach events', '.toc.item')
          ;
      
        })
      ;
   </script>
   {% block javascript %}{% endblock %}
   <style type="text/css">
      .hidden.menu {
      display: none;
      }
      .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
      }
      .masthead .logo.item img {
      margin-right: 1em;
      }
      .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
      }
      .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
      }
      .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
      }
      .ui.vertical.stripe {
      padding: 8em 0em;
      }
      .ui.vertical.stripe h3 {
      font-size: 2em;
      }
      .ui.vertical.stripe .button + h3,
      .ui.vertical.stripe p + h3 {
      margin-top: 3em;
      }
      .ui.vertical.stripe .floated.image {
      clear: both;
      }
      .ui.vertical.stripe p {
      font-size: 1.33em;
      }
      .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
      }
      .quote.stripe.segment {
      padding: 0em;
      }
      .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
      }
      .footer.segment {
      padding: 5em 0em;
      }
      .secondary.pointing.menu .toc.item {
      display: none;
      }
      .preload{
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear;
        animation: spin 2s linear;
      }
       @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

      .isi{
       position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s;
      }
      @-webkit-keyframes animatebottom {
        from { bottom:-100px; opacity:0 } 
        to { bottom:0px; opacity:1 }
      }
      
      @keyframes animatebottom { 
        from{ bottom:-100px; opacity:0 } 
        to{ bottom:0; opacity:1 }
      }

      @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
      display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
      display: none;
      }
      .secondary.pointing.menu .toc.item {
      display: block;
      }
      .masthead.segment {
      min-height: 350px;
      }
      .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
      }
      .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
      }
      }
      }
   </style>
</head>
{% block gif %}{% endblock %}
<body>
   <main>
      {% block content %}{% endblock %}
   </main>
</body>
<footer class="footer">
{% include 'footer.html' %}
   {% block footer %}{% endblock %}
</footer>